.widget{

    position: relative;
    bottom: 0px;
    background-color: rgba(187,187,187,0.75);
    border-radius: 5%;
    overflow: hidden;
    min-width: 100px;
    min-height: 100px;
margin: 0 auto;
padding: 0;
height: 100%;
width: 100%;
border: 2px solid black;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
p {
    margin: 0;
    padding: 0;
}