/* .section {
  font-family: "Poiret One", cursive;
  background-image: url("./smartmirrorproject.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  width: 100%;
  height: 500px;
} */

header {
  height: 250px;
  background-color: #4a4744;
  margin-top: -50px;
  margin-bottom: -25px;
  text-align: center;
  font-size: 2rem;
  color: #b0a8a6;
  padding-top: 30px;
  
}

#splashh1 {
  font-family: "Poiret One", cursive;
  font-size: 5rem;
  /* font-weight: bold; */
  padding-top: 30px;
  padding-bottom: 0;
}

#mybtn {
  font-weight: bold;
  height: 75px;
  width: 125px;
  color: lightgrey;
  background-color: #605d58;
  float: right;
  font-size: 1.35rem;
  border: 1px solid darkgray;
  border-radius: 10px;
  margin-right: 75px;
  margin-top: 75px;
}
.groupCopyright {
  background-color: #4a4744;
  width: 100%;
  height: 125px;
  border-top: grey;
  color: white;
  text-align: left;
  padding:15px;
  margin-top: 100px;
}

.myimg{
  margin-left: 150px;

}
