React.Fragment{
    background-color: #222;  
}

html{
     background-image: url("./alone-forest-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    
}

.react-calender button{
    background-color: blue;
    color: green;
  }
.myBtn{
    width:175px;
    height: 50px;
    margin-right:10px;
}
.logout{
    float:right;
}


  


