.carouselContainer{
    min-width: 900px;
    min-height: 500px;
}

img{
    max-height: 500px;
}

.carouseldata{
    background-color: lightgray;
    opacity: .7;
    color: black;
    width: 450px;
    border-radius: 10px;
    height: 120px;
    padding: 10px;
    
}